body {
  margin: 0;
  padding: 0; 
  text-align: center;
  background-image: url(./imagem/foguete.png); 
  background-repeat: no-repeat;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
