.pequeno-container{
    display: flex;
    justify-content: center;
    border: 0.1vw solid black;
    box-shadow: 0.2vw 0.2vw 0.3vw grey;
    padding: 0.5vw;
    margin-top: 2vw;
}

.pequeno-container :hover{
  color: darkcyan;
}

div.pequeno-container img {
    height: 2.2vw;
    margin-right: 0.5vw;  
}

div.pequeno-container h3,
p {
    margin-right: 0.7vw;
}