*{
    margin: 0%;
    padding: 0%;
}

header{
    background-color: mediumvioletred;
}

#bolo{
    height: 25px;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 10px;
}

.cabecalhoIcone{
    display: flex;
    align-items: center;
    margin: 8px
}

#cabecalhoNome{
    margin-left: 8px;
}


/* =================== MENU ========================== */

div#meioDaPagina>nav#menu>div>div{
    display: flex;
    height: 20px;
    padding: 10px 70px 0px 10px;
    
}

div#meioDaPagina>nav#menu>div{
    display: flex;
    height: 20px;
    padding: 10px 0px 10px 0px;
    justify-content: space-between;
    margin-bottom: 5px;
}

div#meioDaPagina>nav#menu>div>div>p{
    margin-left: 8px;
}

#menu{
    padding: 5px 0 0 5px;
    background-color: #f2d0e0;
}

#meioDaPagina{
    align-items: stretch;
    display: flex;
}

/* ================== CARDS ========================= */

#principal{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.cards{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px 10px 20px 10px;
    box-shadow: 2px 2px 8px rgb(190, 182, 182);;
}

.cards p{
    text-align: center;
    margin-top: 20px;
}

.cards h2{
    margin-top: 10px;
}

#imagemBolo{
    width: 250px;
}


/* =================== RODAPÉ ================ */

#rodape{
    text-align: center;
    background-color: mediumvioletred;
}